@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Italiana&family=Outfit:wght@100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
    font-family: "Outfit", sans-serif;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

@theme {
    --color-primary: #5044E5;
}